# Notes by Girijesh

# Python Essentials (Part:1)

Hi Guys,<br>
Welcome to the Python Essentials <br>

&#9989; <font style="font-size:14px;color:green;">*If you already have a good knowledge of Python and / or working experience in any other language, you can skip this . **However, a quick review is recommended to brush-up the basics.** * </font><br>

In this lecture, we are going to discuss the key concepts of Python. We need them throughout in this course. This section is carefully designed for all levels and if you don't have any programming experience in Python, it is still very easy to follow.

For those who want to explore more in further details, following resources are very useful: <br>
“[python.org](https://www.python.org/about/gettingstarted/)”.<br>
"[learning-python’s documentation](http://learning-python.readthedocs.io/en/latest/index.html)".<br>
“[Learning Python, 5th Ed.](http://shop.oreilly.com/product/0636920028154.do)” by Mark Lutz is a great resource book for the beginners.<br>

We will go through the following concepts in this section:
* Python data types:
    * Numbers
    * Strings & print formatting
    * Lists
    * Dictionaries
    * Tuples
    * Sets
    * Booleans. 
    
    
<br>

#### Important Note:

<font style="font-size:12px;color:green;">* Concise information and key concepts on every topic is provided in the resource note book. At several places, you will find comments along with the code as well. **Remember**, Writing comments, while coding, is a very good practice. Comments help a lot when you come back to check your own code and you can easily recall what you have done before. Comments are specially helpful when you are working in a team on a common project.*</font>

## Python data types:

### Numbers 
Python has two basic number types, <b>integer</b> and <b>float</b>. <br>

For example, 2 is an integer and 2.0 is a floating point number which has a decimal attached to it. <br>We can perform arithmetic operations to either of these numbers types.

In [1]:
# addition
5 + 2

7

In [2]:
# subtraction
5 - 2

3

In [3]:
# multiplication
5 * 2

10

We can divide them with a forward slash between them (note, two integers are giving floating point in results).<br> 
<font style="font-size:12px;">*If you are using Python 2, you need to add 2.0 in the expression (e.g. 5 / 2.0) to get the same results.*</font>

In [4]:
5 / 2

2.5

We can calculate the power of some number `(exponent)` with two **Asterix** ** together.

In [5]:
5 ** 2

25

Python follow the order of arithmetic operations, for example:<br>
**for 1 + 2 * 3 + 4**<br>
Python will **first multiply 2 & 3** then perform the other operations.

In [6]:
1 + 2 * 3 + 4

11

**A good practice is to use parentheses `"( )"`** to tell the Python, which operation needs to be performed and clarify the order. <br> 
The operations in the parentheses will be performed first.

In [7]:
(1 + 2) * (3 + 4)

21

**Modulus** or **mod** operation is a "**`%`**" (percentage sign) in Python. It **returns what remains after a division**.<br>

*With Mod operation, we can check weather the number is even or odd.*
* If mod `(%)` **returns 0**, the number is **even** <br>
* If mod `(%)` **returns 1**, the number is **odd**.

In [8]:
6 % 2 # returns 0, 6 is even no.

0

In [9]:
5 % 2 # returns 1, 5 is odd no. (if we divide 5 by 2, remainder is 1)

1

### Variables:
At many occasions, we pick a variable with some name and assign object or a data type to that variable. We can do this in Python using equal sign operator **`“=“`**. <br>
For example, if we assign a value of 5 to a variable `“x”`. Whenever we call `x`, this will return 5 in the output. <br>

In [10]:
# Let's try x = 5 and y = 3
x = 5
y = 3

In [11]:
# what is x now!
x

5

In [12]:
# what is y now!
y

3

We can perform arithmetic operations using these variable.

In [13]:
# Adding x and y
x + y

8

In [14]:
# Multiplying x and y
x * y

15

We can perform any arithmetic operation and assign the result to a new variable.

In [15]:
# Subtraction of the variables and assigning the result to a new variable
z = x - y # 5 - 3

In [16]:
z

2

We can **re-assign** the value to the variables. This **will replace the existing value to its new value.**

In [17]:
x = x * x

In [18]:
x

25

This is a common practice to use a **variable with multiple names**. <br>
Proper syntax in Python is to separate them with **underscore `“_”` between the words**. By doing this, you will easily identify them. e.g. **total_profit, total_loss, first_name** etc

In [19]:
name_of_the_variable = 20

In [20]:
name_of_the_variable

20

**Important regarding variable name**<br>
Before we move on to the next data type, we should know:<br>

In Python,
* variable name can not be started with number (e.g. `1var, 2x` etc)<br>
* variable name can not be started with special characters (e.g. *var, !y etc)<br>
* variable name are case sensitive, "Name" is not the same as "name"
* reserved words can not be a variable name, e.g. `"class"` is a reserve word in Python, it can not be used as a variable name, but "klass" and `"Class"` work fine.

In [21]:
1var = 1

SyntaxError: invalid syntax (<ipython-input-21-460332d99e8f>, line 1)

In [ ]:
$var = 3

### Strings
One of the most popular and useful data types in Python are strings. They can be created by enclosing characters in single **' '** or double **" "** quotes. <br>
Python consider singe and double quotes in the same way. <br>
Strings are used to record text information (e.g. person name) as well as arbitrary collection of bytes (e.g. contents of an image file)

In [ ]:
# creating single quotes string
'creating single quotes string'

In [ ]:
# creating double quotes string
"creating double quotes string"

In [ ]:
# we have lot's of other quotes, let's wrap them in double quotes 
"we have lot's of other quotes, let's wrap them in double quotes"

We can **pass a string to a variable** as well

In [ ]:
X = "String"

In [ ]:
X

We can use the **`print()`** method to output the variable `X`. This is a **proper and official way** to display the results in Python.<br>

In [ ]:
print(X)

At this point, let me introduce a very useful built-in method **“`format()`”** with a use example. <br>

If we have two variable <br>
* name = 'Girijesh'
* number = 30

using **“`format()`”**, we can put the values of name and number at specified locations with the print statement. <br>

Take a string, create **place holders** using curly brackets **`"{}"`** and pass that string to **`print()`** with **`format()`** containing values for the place holders. <br>

Python reads the curly brackets **`"{}"`** in the string and then **`format()`** method. It will put the values in the order, we have given in the **`format()`** method. <br>

This is a convenient way of writing the desired values in the place holder instead of writing those values (Qazi and 30) again and again. <br>

For example:

In [ ]:
name = 'Girijesh'
number = 30

In [ ]:
print('My name is {} and my number is {}'.format(name, number))

There is another very useful way to write the values in the place holders. In this case, we don't need to worry about the order in the `format` method!<br>
Let's try this.

In [ ]:
print('My name is {one} and my number is {two}'
      .format(one=name, two=number))

We can put **more than one placeholder `"{}"`** for the same values

In [ ]:
print('My name is {one} and my number is {two}, {one} again and {two} again'
      .format(one=name, two=number))

#### Little more about strings:
* A string is a sequence (a positionally ordered collection) of other objects or elements.<br> 
* Maintain a left-to-right order among the contained items.<br>
* Items are stored and fetched by their relative position.<br>
* Stings are **immutable** in Python — they cannot be changed in place after they are created.<br>
In simple words, immutable objects can never be overwriten, e.g. we can’t change a string by assigning to one of its positions, but we can always build a new one and assign it to the same name.

In [ ]:
# Let's create a string
X = "String"

String is a sequence, we can grab any of its letter using its index position in the square brackets

In [ ]:
# grabbing the first letter in the String
X[0]

In [ ]:
# grabbing last item
X[-1]

In [ ]:
# grabbing a slice (everything after index 1) 
X[1:]

In [ ]:
# grabbing a slice (everything from index 0 upto 4 (not included))
X[:4]

In [ ]:
# grabbing a slice (with first and last given positions) 
X[0:4]

#### Some important methods to know: 
Ok, I hope that you already got a good understanding of strings. This is a good point to introduce some commonly used methods such as `lower()`, `upper()`, `split()` etc<br>
Let's see how they work with strings!

**Remember, `<shift+tab>` for the docstring!**

In [1]:
s = 'Hi I am Girijesh'

In [2]:
s.lower()

'hi i am girijesh'

In [3]:
s.upper()

'HI I AM GIRIJESH'

`s.split()` return a list of the words in a string, using `sep` (separator) parameter as the
delimiter string. If `sep` is not specified, any whitespace string is a separator and empty strings are removed from the result.

In [ ]:
s.split()

In [ ]:
tweet = 'Go Flames Go! #Hockey'

In [ ]:
tweet.split('#') # or (sep = '#')

In [ ]:
tweet.split('#')[1]

### Lists
As discussed, string is a sequence of items, lets move on with this idea to the another very useful data type in Python which is List. Before we move on, some key points for the lists are:<br> 
* **Lists** are positionally ordered collections of arbitrarily typed objects (it **can take any data type**). <br>
* It is a sequence of elements separated by commas in a set of square brackets.<br> 
* Lists have no fixed size.<br>
* Lists are mutable — unlike strings, lists can be modified.<br>
* Lists can be indexed and sliced, like strings.

In [ ]:
# a list of numbers 
[4,5,6]

In [ ]:
# We can have a list of stings 'd', 'e', 'f' -- Note strings are in quotes 
['d','e','f']

In [ ]:
# We can assign a list to a variable "my_list".
my_list = ['d','e','f']
my_list

Lists can grow and shrink on demand.<br>
* We can add an element in the list using **`"append()"`** method

In [ ]:
my_list.append('g')
my_list

**`"pop()"`** method removes and returns the last item from the list

In [ ]:
my_list.pop()

In [ ]:
my_list # "g" is no more in the list after pop()

In [ ]:
# grab the first item in the list
my_list[0]

In [ ]:
# grab everything after first element
my_list[1:]

In [ ]:
# grab a slice, not including index 3
my_list[1:3]

We can **re-assign** position using index. We want first element in my_list to be ‘hi’

In [ ]:
# pass in the element 'hi' to the index 0
my_list[0]='hi' 
my_list

#### Nesting in Lists
We can nest a list with-in a list and grab any element in the nested list.<br> A very useful *feature applied to represent matrixes or multidimensional arrays.* <br>

In [ ]:
# nested list  
nested_1 = [1,2,3,[4,5,6]]
nested_1

In [ ]:
# grabbing nested list
nested_1[3]

In [ ]:
# grabbing element from nested list
nested_1[3][0]

In [ ]:
# another example of nested lits
nested_2 = [1,2,[3,4,['a','b']]]
nested_2

In [ ]:
# grabbing 'a' from nested_2
nested_2[2][2][0]

### Dictionaries
We have learnt about the **strings** and **lists**, they are somehow related to each other as they are just sequences of items and we can use same index notation to grab the elements. <br>
* **Dictionaries** are something completely different as they are not sequences at all.<br>
* **Dictionaries** are ***key-value pairs*** in curly brackets **`"{}"`**<br>
* **Dictionaries** store objects by **‘key’** instead of by relative position and don’t maintain any reliable let-to-right order; they simply **map key to associated values**.<br>
* **Dictionaries can grow and shrink** on demand, Like lists.

In [ ]:
# lets create a simple Dictionaries, d1.
d1 = {'key1':'value1','key2':'value2', 'key3':'value3'}

In [ ]:
d1

We can access any value in the dictionary using its key.<br> 
Like in lists and strings, **index `"dic[0]"` is not going to work for dictionaries** and raise an error.

In [ ]:
d1['key1']

**Dictionaries can take any item as their values**, e.g. we can have a list with associate key in the dictionary.

In [ ]:
d2 = {'k1':[1,2,3],'k2':['a','b']}

In [ ]:
d2['k1']

We can index the list after accessing it with a key in the dictionary.

In [ ]:
d2['k1'][0]

We can **nest dictionary with-in a dictionary**

In [ ]:
nested_d = {'k1':{'k_in':[1,2,3]}}

In [ ]:
nested_d

Now we can access the element in the list which is a nested dictionary.

In [ ]:
nested_d['k1']['k_in'][1]

**`keys()`** and **`values()`** are very useful built-in methods and returns all the **`keys`** and **`values`** from any dictionary.

In [ ]:
# We have a dictionary 
d1 = {'key1':'value1','key2':'value2', 'key3':'value3'}

In [ ]:
d1.keys() #list(d1.keys())

In [ ]:
d1.values()

In [ ]:
d1.items()

<br>So, let's talk about **Tuples** Now!
### Tuples 

Tuples are:
* Similar to the list but can not be changed. <br>
* Sequences, like lists, but immutable, like strings.<br> 
* Used to represent fixed collection of items.<br>
* Coded in parentheses **`"()"`** instead of square brackets

In [ ]:
# lets create a tuple "t"
t = (3,4,5)

In [ ]:
# we can grab any element using index
t[0]

**Tuples are immutable** and can not be re-assigned.<br>
we can not do operation like `t[0] = 'NEW'`, as discussed, this is possible in lists

In [ ]:
t[0] = 'New'

# TypeError: 'tuple' object does not support item assignment

### Sets
A **collection of unique elements** in a pair of curly brackets.

In [ ]:
{2,3,4}

An **item appears only once in a set**, no matter how many times it is added. <br>
For example, if we put multiples of the same element in a set, it will reduce it down to a single unique element is a set.

In [ ]:
s = {2,2,2,3,3,3,4,4,4,4}
s

We can use **`add()`** method to add a new element in a set.

In [ ]:
s.add(5)
s

If we want to add 5 again, it will not give an error. The output will be the same as set can only have unique elements.

In [ ]:
s.add(5)
s

### Booleans
Are simply **`True`** and **`False`** with capital **`T`** and Capital **`F`** -- just a customized version of **1** and **0**

In [ ]:
True

In [ ]:
False

In [ ]:
my_list = [1,2,3]

In [ ]:
# check is the item is in the list
1 in my_list

In [ ]:
5 in my_list

## Great job!
**A quick review on what we did So far**:<br>
We have gone through the basic Python data types, **Numbers, Strings & print formatting, Lists, Dictionaries, Tuples, Sets and Booleans**. <br>
We have learned these data types with examples. <br>
If you are interested to explore more about these data types, please read Python documentation or consult any basic book on Python. There are lots of good and free books available on Python.<br>
<br>

### Excellent Work!