<a href='http://www.scienceacademy.ca'> <img style="float: left;height:70px" src="Logo_SA.png"></a>

# Python Essentials Exercises: 

This notebook provides exercises to test your understanding of Python Basics. If you find these exercises challenging, then you may not have enough programming experience. You need to spend little more time to understand Python's basics, before you continue to this course. <br>

I recommend, take any basic course on Python (there are several free courses on Python basics available on the web) or explore following resources:<br>
“[python.org](https://www.python.org/about/gettingstarted/)”.<br>
"[learning-python’s documentation](http://learning-python.readthedocs.io/en/latest/index.html)".<br>
“[Learning Python, 5th Ed.](http://shop.oreilly.com/product/0636920028154.do)”<br>

Let's move on to the exercises.

## Exercises

Complete the tasks given below or answer the questions. If given, please follow the instructions.

**1. What is 5 to the power of 3?**

In [1]:
# To avoid overwriting the output, please code here

125

**2. what is the remainder if 9 is divided by 2.** Is 9 even?

In [3]:
# To avoid overwriting the output, please code here

1

**3. Convert the string** "s = 'i am in Alberta'" **into upper case and into a list.**

In [5]:
s = 'i am in Alberta'

In [6]:
# To avoid overwriting the output, please code here

['I', 'AM', 'IN', 'ALBERTA']

**4. Convert the string** "s = 'My name is #Qazi!'" **into lower case and split at # into a list. **

In [8]:
s = "My name is #Qazi!"

In [9]:
# To avoid overwriting the output, please code here

['my name is ', 'qazi!']

**5. We have**

    province = "Alberta"
    population = 4.1

** print the following using format()**

    The total population of Alberta is 4.1 million.

Steps:<br>
Create place holders inside the string in the print statement.<br>
pass in the initialized variables to the format to fill the place holders<br>

In [11]:
province = "Alberta"
population = 4.1

In [12]:
# To avoid overwriting the output, please code here

The total population of Alberta is 4.1 million.
The total population of Alberta is 4.1 million.

**6. Can you grab "Canada" from the nested list? Use indexing.**

In [14]:
a = ['Alberta',2,[3,4],[5,['Canada',7,['hello']],10,15],1,7]

In [15]:
# To avoid overwriting the output, please code here

'Canada'

**7. List name of provinces (keys) from the dictionary below.**

In [17]:
d = {'BC':'Victoria','AB':'Edmonton', 'ON':'Toronto', 'QC':'Quebec City'}

In [18]:
# To avoid overwriting the output, please code here

['BC', 'AB', 'ON', 'QC']

**8. From the nested dictionary, grab the word "Montreal". Little tricky! **

In [20]:
d = {'k1':'AB','k2':[1,{'BC':['SK','ON','Vancouver',{'Calgary':[1,2,3,'Montreal']}]}]}

In [21]:
# To avoid overwriting the output, please code here

'Montreal'

**9. What is the main difference between a tuple and a list? **

In [23]:
# ????

**10. An element can appear multiple times in a set ? True / False**

In [24]:
# ????

**11. You got email addresses, write a function to split the website domain **

    user_name@some_domain.ca    
    
**passing email and the function should return some_domain.com**

In [25]:
# To avoid overwriting the output, please code here

In [27]:
Get_domain('user_name@some_domain.ca')

'some_domain.ca'

**12. Can you write a function that tells you if there is a word 'Calgary' in the provided string?<br> How to deal if the word "city" is capitalized? **

Create a function<br>
Pass the string 's' to the function<br>
in order to account for the capitalization, we will use .lower and split at white space

In [28]:
# To avoid overwriting the output, please code here

In [30]:
find_city('Calgary is a city in Alberta')

True

**13. Write a function to return square of numbers from 1 to 5, use range() method **

In [31]:
# To avoid overwriting the output, please code here

In [33]:
square(range(1,6))

[1, 4, 9, 16, 25]

**14. Write lambda expression for the function above, use map() and range()**

In [34]:
# To avoid overwriting the output, please code here

[1, 4, 9, 16, 25]

**15. filter the words from a list that start with 'c'. Use lambda expression and filter().**

    veg_list = ['tomato','cabbage','meat','chicken','goat']

**Out put should be **

    ['cabbage','chicken']

In [36]:
veg_list = ['tomato','cabbage','meat','chicken','goat']

In [37]:
# To avoid overwriting the output, please code here

['cabbage', 'chicken']

**16. You are a loyal customer and the store to offering discounts to their loyal customers:**
* ***between 0 & 50 CAD, you get 10 % discounts,***<br>
* ***between 51 & 100 CAD, you get 20 % discounts,***<br>
* ***more than 100 CAD, you get 40 % discounts,*** <br>
* ***Its Monday, and you are spending more than 50 CAD, you get a cherry on top! 10 CAD OFF***<br>

**write a function to calculate how much the customer will pay for any spending.**<br>
**Tricky? <br>You need to develop the logic! <br>Take a pen and a notebook and do the calculations if needed!<br>
test the function for [51,50,100,101] using for loop with you function**
### Good Luck**

In [39]:
# To avoid overwriting the output, please code here 
# Write your function here.

In [40]:
def you_pay(spending, is_monday):    
    if spending <51:
        return ((spending)-(spending/100)*10)
    elif is_monday and spending >= 51:
        new_spending = spending - 5
    else:
        new_spending = spending
    if spending > 50 and spending <= 100:
        return (new_spending-((new_spending)/100)*20)
    else:
        return (new_spending-((new_spending)/100)*40)

In [41]:
# To avoid overwriting the output, please code here 
# Call function using for loop if not Monday

In [42]:
test = [50, 51, 100, 101]
for num in test:
    print("For",num,"CAD, you pay", you_pay(num,False),"if not Monday")

For 50 CAD, you pay 45.0 if not Monday
For 51 CAD, you pay 40.8 if not Monday
For 100 CAD, you pay 80.0 if not Monday
For 101 CAD, you pay 60.6 if not Monday

In [43]:
# To avoid overwriting the output, please code here 
# Call function using for loop if its Monday today

In [44]:
test = [50, 51, 100, 101]
for num in test:
    #print(num)
    print("For",num,"CAD, you pay ",you_pay(num,True), "on Monday")

For 50 CAD, you pay  45.0 on Monday
For 51 CAD, you pay  36.8 on Monday
For 100 CAD, you pay  76.0 on Monday
For 101 CAD, you pay  57.6 on Monday

<br>

# Great job!